/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* @font-face kit by Fonts2u (https://fonts2u.com) */
/* From https://fonts2u.com/minecraft-regular.font */
@font-face {
    font-family: "Minecraft Regular";
    src: url("./assets/fonts/1_Minecraft-Regular.eot?") format("eot"),
         url("./assets/fonts/1_Minecraft-Regular.woff") format("woff"),
         url("./assets/fonts/1_Minecraft-Regular.ttf") format("truetype"),
         url("./assets/fonts/1_Minecraft-Regular.svg#Minecraft-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Variables */
:root {
    /* CSS Variables */
    --main-bg-color:    #242222;
    --lighter-bg-color: #312e2e;
    --main-popup-color: #353535;
    --darker-bg-color:  #1f1d1d;
    --border-color:     #4b4747;

    /* Text */
    --secondary-text: rgb(196, 196, 196);

    /* Tri-pane colors */
    --brown-bg-color:      #4e3f34;
    --brown-darker-color:  #42362d;
    --brown-darkest-color: #352a22;
    --brown-lighter-color: #635145;

    /* Misc */
    --generic-blue:     #518ed4;
    --golden-carrot:    rgb(250, 225, 0);
    --warning-red:      rgb(255, 65, 65);

    /* Theme colors */
    --light-main-bg-color:      whitesmoke;
    --light-highlight-color:    white;
    --light-darker-bg-color:    rgb(230, 230, 230);
    --light-theme-border-color: rgb(185, 185, 185);

    /* Dark scrollbar (also changes other unstyled elements */
    /* color-scheme: dark; */
}

/* Scrollbar */
/* ::-webkit-scrollbar-track {
    background-color: lawngreen;
    width: 100px;
} */
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--main-bg-color);
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--border-color);

    /* Fake margins from https://stackoverflow.com/a/45420691/11039898 */
    box-shadow: inset 0 0 10px 10px var(--border-color);
    border: 3px solid var(--main-bg-color);
}
/* Tri-pane section scrollbar */
.information-area ::-webkit-scrollbar {
	width: 16px;
}
.information-area ::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--brown-darker-color);
}
.information-area ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--brown-bg-color);

    /* Fake margins from https://stackoverflow.com/a/45420691/11039898 */
    box-shadow: inset 0 0 10px 10px var(--brown-lighter-color);
    border: 3px solid var(--brown-darker-color);
}


/* Universal */
* {box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    scroll-behavior: smooth;
}

p {margin: 0;}
a {color: rgb(137, 184, 255);}
a:hover {filter: brightness(120%);}

.flex {display: flex;}
/* .fixed {
    position: fixed;
    top: 0;
    width: 100%;
} */
.center {
    text-align: center;
}

img {
    user-select: none;
    -webkit-user-drag: none;

    touch-action: manipulation;

    image-rendering: pixelated;
}
#container {
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 80px;
}
.unbold {
    font-weight: unset;
}
.underline {
    text-decoration: underline !important;
}
button {
    color: white;
    background-color: transparent;
    border: 2px solid white;

    margin: 4px 0;

    font-weight: bold;
    font-size: 11pt;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;

    transition-property: transform, background-color, color;
    transition-duration: 0.25s;
}
button:hover {
    color: black;
    background-color: white;

    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
input:not(.checkbox),
select {
    padding: 6px 10px;
    border-radius: 30px;
    border: none;
    font-size: 11pt;

    width: 100%;
    max-width: 200px;
}
select {
    cursor: pointer;
}
.link_styling {
    cursor: pointer;
}
.link_styling:hover {
    text-decoration: underline;
}
.popup_box {
    background: var(--main-popup-color);
    padding: 20px;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
}
.loading_carrot {
    height: 80px;
    width: 80px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    filter: contrast(0%) brightness(0%);
    opacity: 0.5;
    animation: spin 3s infinite linear;
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%)rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.fade_out {animation: opacity 2s forwards}
.fade_in {animation: opacity 2s forwards reverse}
@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Text Colors */
.secondary_text {
    color: var(--secondary-text);
}
.colorwhite {
    color: white !important;
}
.golden {
    color: var(--golden-carrot) !important;
}

/* Background Colors (Toasts Usually) */
.background_white {
    background: rgb(255, 255, 255) !important;
    border: 4px solid rgb(92, 92, 92) !important;
    color: black;
}
.background_red {
    background: var(--warning-red) !important;
}
.background_orange {
    background: rgb(184, 94, 20) !important;    
}
.background_gold {
    background: rgb(197, 145, 15) !important;
    border: 2px solid var(--golden-carrot) !important;
}
.background_green {
    background: rgb(113, 153, 80) !important;
}
.background_cyan {
    background: rgb(64, 111, 114) !important;
}
.background_blue {
    background: rgb(53, 72, 136) !important;
}
.background_purple {
    background: rgb(87, 61, 117) !important;
}
.background_brown,
.background_dirt {
    background: rgb(78, 63, 52) !important;
}
/* Special Backgrounds */
.background_dirt {
    background-image: url(./assets/Dirt-Background.jpg) !important;
}

.background_red,
.background_orange,
.background_green,
.background_cyan,
.background_blue,
.background_purple {
    border: 2px solid white !important;
}

/* Always on top elements */
#confetti {
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

/* Dialog Popup */
#overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100%;
    width: 100%;
}
#backdrop {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(30px);
    z-index: 190;
}
.backdrop-in {animation: backdrop 1s forwards;}
.backdrop-out {animation: backdrop 0.5s forwards;}
@keyframes backdrop {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 1;
    }
}
#overlay.dramatic {
    backdrop-filter: blur(30px) saturate(20%);
}
#dialog {
    width: 420px;

    /* animation: dialog 0.5s cubic-bezier(0.39, 0.575, 0.565, 1); */
}
.dialog_animate {
    animation: dialog 0.25s ease-out;
}
@keyframes dialog {
    from {
        transform: translate(-50%, calc(-50% + 20px));
    }
}
#dialog h2, #dialog p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
#dialog button {
    width: 49%;
}
.hidden {
    visibility: hidden !important;
}
.visible {
    visibility: visible !important;
}
.opacity0 {opacity: 0 !important;}

/* Toasts */
#toast_container {
    position: fixed;
    z-index: 201;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
    padding-top: 20px;

    display: flex;
    flex-direction: column-reverse;

    max-height: 100%;
    /* max-height: 400px; */
    overflow: auto;

    pointer-events: none;
}
.toast {
    width: 300px;
}
.toast, #toasts_clear {
    margin: 16px;
    margin-top: 0;
    padding: 12px 16px;
    background: var(--main-popup-color);
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    position: relative;
    word-break: break-word;

    animation: toast 0.4s;
    pointer-events: initial;
}
.toast_out {animation: toast_out 0.25s forwards;}
@keyframes toast {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
}
@keyframes toast_out {
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}
.toast_close {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    padding: 10px;
    margin-top: 4px;
    margin-right: 4px;
    top: 0;
    right: 0;
    cursor: pointer;
}
.toast_close:hover {
    color: white;
    text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}
.dialog_close {
    font-size: 24pt;
    top: 10px;
    right: 10px;
    position: absolute;
}
.toast h3, .toast p {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}
#toasts_clear {
    cursor: pointer;
    padding: 6px 24px;
    width: 112px;
    margin-left: auto;
    border-radius: 100px;

    visibility: hidden;
    transition: filter 0.1s;
}
#toasts_clear:hover {
    filter: brightness(125%);
}

/* Achievement toast */
.toast.achievement_item {
    width: 400px;
    padding: 0;
    border-color: goldenrod;
    border-radius: 10px !important;
    max-width: 100%;
    margin-bottom: 0;
}
.toast.achievement_item .achievement_details {
    box-shadow: none;
}
.toast.achievement_item .rewards_list {
    display: unset;
}
.toast.achievement_item .reward:not(:last-of-type) {
    border-bottom: 1px solid var(--brown-darkest-color);
}

/* Fancy Theme Switcher */
#theme_menu {
    width: 100%;
    max-width: 540px;
    max-height: 90%;
    overflow: auto;

    /* position: relative; */
    z-index: 200;

    visibility: hidden;
}
h2.theme_menu_title {
    margin-top: 4px;
    margin-bottom: 10px;
}
p.theme_menu_title {
    margin-bottom: 12px;
}
.theme_preview {image-rendering: pixelated;}
.theme_menu h2 {
    margin: 0;
}
.theme_item h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 6px;
}
.theme_menu p {
    margin: 0;
}
.theme_item {
    height: 90px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--darker-bg-color);
    margin-bottom: 14px;

    /* Leave room for checkbox */
    padding-right: 84px;

    position: relative;

    cursor: pointer;
}
.theme_selected {
    outline: 2px solid var(--generic-blue);
    background-color: var(--main-bg-color);
}
.theme_item:hover, .shop_item:hover {
    filter: brightness(120%);
    outline: 2px solid white;
}
.theme_preview {
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}
.theme_checkbox {
    width: 60px;
    height: 60px;
    
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    border: 2px solid rgba(255, 255, 255, 0.25);
}
.theme_checkmark {
    width: 60px;
    height: 60px;
    padding: 10px;
}
body:not(.theme_light) .theme_checkmark {
    filter: invert();
}

/* Number Popup */
.clickvisual {
    font-size: 24pt;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    transform: translateX(-50%);
    position: absolute;
    z-index: 49;
    top: 0;
    left: 0;
    
    pointer-events: none;
    animation: clickBonus 1.25s linear forwards;
}
@keyframes clickBonus {
    0% {
        transform: translateY(-20px) translateX(-60%);
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(-90px) translateX(-60%);
        opacity: 0;
    }
}

/* Status Bar */
.status_bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;

    pointer-events: none;
}
.status_bar * {
    pointer-events: all;
}
.Basic_Info {
    background-color: var(--lighter-bg-color);
    border-bottom: 1px solid var(--border-color);
    width: 100%;

    padding: 8px 20px;
}
.status_progress_bar {
    width: 100%;
    max-width: 400px;

    background-color: var(--lighter-bg-color);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 10px 10px;

    margin: 0 auto;

    /* Hidden by default */
    visibility: hidden;
}
.main_progress_image {
    float: left;
    margin-right: 24px;
}
.status_progress {
    height: 10px;
    background-color: gray;
}
#Tip {
    margin-left: auto;
}
.Carrot_Count {
    font-size: 20pt;
    text-align: center;
}
.mini_stats p {
    text-align: center;
}
#golden_carrot_count {
    color: gray;
}
#left-section {
    /* width: 420px; */
    /* margin-left: auto; */
    margin-right: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5) inset;
    border-radius: 24px;
    height: fit-content;

    background-color: var(--darker-bg-color);
}
#main_carrot {
    margin: 10px;
    margin-right: 20px;
    width: 400px;
    height: auto;
    position:inherit;
    z-index: 0;
    cursor: pointer;

    filter: drop-shadow(12px 12px 5px rgba(0, 0, 0, 0.3));

    transition: transform 0.1s linear;
    transition: filter, 0.1s linear; /* Comma is here on purpose, removing it breaks this for some reason*/

    image-rendering: pixelated;
}
#main_carrot:active {
    transform: scale(0.98,0.98);
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.3))
            brightness(85%)
            saturate(110%);
}
#main_carrot:focus-visible {
    outline: none;
}
/* Prestige */
#prestige-section {
    margin: 20px auto 20px;
    width: 290px;


    display: flex;
    visibility: hidden;
}
.button_gold {
    background-color: transparent;
    color: var(--golden-carrot);
    border: 2px solid var(--golden-carrot);
}
.button_gold:hover {
    background-color: var(--golden-carrot);
    color: black;
    border: 2px solid var(--golden-carrot);
}
.prestigetooltip {
    margin-left: 8px;
}



/* Right section */
.character_column {
    height: 100%;
}

/* Characters */
.characterbox {
    background: var(--lighter-bg-color);
    border: 3px solid var(--lighter-bg-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    width: 362px;
    margin: 0px;
    margin-bottom: 8px;
    margin-right: 10px;

    position: relative;
    z-index: 10;

    outline: transparent;
    transition-property: box-shadow, border, background, outline;
    transition-duration: 0.15s;
}
.characterbox:hover {
    /* border: 3px solid #6d6565; */
    outline: 1px solid #4b4747;
    z-index: 11;
}
.bottom {
    padding-top: 2px;
    background: var(--main-bg-color);
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}
/* Character tooltips */
.tooltip {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(88, 88, 88, 0.8);
    backdrop-filter: blur(10px);

    max-width: 260px;
    position: absolute;

    /* visibility: hidden; */
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
    pointer-events: none;
}
.charactertooltip {
    transform: translate(calc(-100% - 10px), -2px);
    /* left: 0;
    top: unset; */
}
.characterbox:hover .charactertooltip {
    visibility: visible;
    animation: float_in 2s forwards;
}
@keyframes float_in {
    80% {
        margin-left: -20px;
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

/* Character info */
.characterdesc {
    margin-left: 4px;
}
.characterimg {
    height: 64px;
    width: 64px;
    image-rendering: pixelated;
    border-top-left-radius: 10px;
}
/* Tools/upgrades */
.levelupimg, .toolicon {
    transition-property: transform, filter;
    transition-duration: 0.25s;
    cursor: pointer;
}
.levelupimg {
    margin-bottom: -6px;
    width: 48px;
    height: 40px;
    cursor: pointer;
}
.toolicon {
    image-rendering: pixelated;
    height: 32px;
    width: auto;
}
.toolicon:hover,
.levelupimg:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(150%);
}
.toolicon:active, .levelupimg:active {
    transform: scale(0.9, 0.9);
    filter: brightness(70%);
}
.toolnumber {
    display: inline-block;
    position: absolute;
    font-size: 11pt;
    transform: translateX(16px) translateY(20px);

    pointer-events: none;
}

/* Greg */
.Greg .toolicon {
    height: 45px;
    margin-bottom: 20px;
}
.Greg .toolnumber {
    font-size: 14pt;
    transform: translateX(22px) translateY(24px);
}
.Greg .hoe_price {
    font-size: 0.9rem;
    position: absolute;
    transform: translateY(44px);
    width: 45px;
    text-align: center;
}
.Greg .levelupimg {
    margin-bottom: 25px;
}
#Greg_Bar{
    /* Unhide when bar is active: */
    /* visibility: hidden; */
    width: 100%;
    height: 10px;
    /* background: gray; */
    background-color: gray;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    overflow: hidden;
}
.progress {
    transition: width 0.1s;
    width: 0%;
    max-width: 100%;
    height: 100%;

    background: lightgreen;
    background-repeat: repeat-x;
    background: repeating-linear-gradient(
        45deg,
        lightgreen,
        lightgreen 14px,
        rgb(94, 209, 94) 14px,
        rgb(94, 209, 94) 28px
        );
    background-position: top;
    animation: progress_animate 12s infinite linear;
}
@keyframes progress_animate {
    to {
        background-position-x: -400px;
    }
}
/* Charles */
.Charles button {
    width: calc(100% - 10px);
    margin: 5px;
}

/* Carl */
/* Temporaryily hide since not done */
/* .carl {
    display: none;
} */
.shop_item {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background: var(--lighter-bg-color);
}
.shop_img {
    width: 57px;
    height: 57px;
    margin-right: 8px;
    object-fit: cover;
}
.padding-5px {
    padding: 5px;
}

/* Greyed out/Blacked out/Glowing effects */
.grayedout {
    filter: brightness(90%) saturate(0%);
}
.blackedout {
    filter: contrast(0%) brightness(20%);
}
.grayedout .levelupimg,
.grayedout .toolicon,
.grayedout.levelupimg,
.grayedout.toolicon,

.blackedout .levelupimg,
.blackedout .toolicon,
.blackedout.levelupimg,
.blackedout.toolicon{
    cursor: unset;
}
.grayedout .levelupimg:hover,
.grayedout .toolicon:hover,
.grayedout.levelupimg:hover,
.grayedout.toolicon:hover,
.grayedout .levelupimg:active,
.grayedout .toolicon:active,
.grayedout.levelupimg:active,
.grayedout.toolicon:active {
    transform: none;
    filter: brightness(90%) saturate(0%);
}

.blackedout .levelupimg:hover,
.blackedout .toolicon:hover,
.blackedout.levelupimg:hover,
.blackedout.toolicon:hover,
.blackedout .levelupimg:active,
.blackedout .toolicon:active,
.blackedout.levelupimg:active,
.blackedout.toolicon:active {
    transform: none;
    filter: contrast(0%) brightness(20%);
}

.glowing {
    animation: glowing 3s infinite alternate linear;
    cursor: pointer;
}
@keyframes glowing {
    from {
        filter: drop-shadow(0px 0px 7px rgb(255, 235, 120, 0.5));
    }
    to {
        filter: drop-shadow(0px 0px 8px rgb(255, 255, 207)) brightness(115%);
    }
}
.glowing:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(150%);
}
.glowing:active {
    transform: scale(0.9, 0.9);
    filter: brightness(70%);
}



/* Notifications section */
#notifs-section {
    max-width: 1150px;
    position: relative;
    width: 100%;
    height: 700px;
    min-width: 270px;
    margin: 24px auto 80px;
    padding: 0;
    background-color: var(--brown-bg-color);

    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}
#notifs-section nav {
    margin: 0 auto;
    background-color: var(--brown-bg-color);
}
#notifs-section nav .tab {
    width: 33.33%;
    height: 2em;
    color: white;
    cursor: pointer;
    background-color: rgb(53, 42, 34);
    border: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.tab:hover {
    transform: translateY(-2px);
}
#notifs-section nav .activetab {
    background-color: var(--brown-bg-color);
    border: none;
    border-bottom: none;
}
.inactivetab:hover {
    filter: brightness(120%);
}
.activetab#info-tab-button {
    background-color: teal;
}

/* Info panel */
.panel {
    position: absolute;
    height: 662px;
    width: 100%;
    padding: 0px 24px 16px;

    overflow: auto;
}
/* .panel button {
    width: 200px;
} */
#achievements-panel {
    visibility: visible;
}
#info-panel {
    visibility: hidden;
}
#settings-panel {
    visibility: hidden;
}

/* Achievements */
/* Old */
/* .info-item {
    width: 10%; */
    /* width: calc(90% - 40px); */
    /* max-width: 500px; */
    /* padding: 4px;
    background-color: var(--brown-darker-color);
    border: 1px solid goldenrod;
    border-radius: 4px;
    display: flex;
}
.info-item h1 {
    font-size: 14pt;
    margin-bottom: 0;
}
.achievement-img {
    height: 64px;
    width: 64px;
    margin-right: 8px;
} */

/* Filter dropdown */
#achievement_filter {
    position: absolute;
    top: 30px;
    right: 24px;
}

.achievement_item {
    width: 100%;
    margin-bottom: 10px;
}
.achievement_item .achievement_img {
    height: 100px;
    width: 100px;
    padding: 8px;
    margin-right: 16px;
    
    border-radius: 16px;
}
.achievement_locked .achievement_img {
    opacity: 0.7;
    filter: saturate(0%);
}
.achievement_details {
    height: 100px;
    background-color: var(--brown-darkest-color);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.45) inset;
    border-radius: 10px 10px 0 0;
}
.achievement_details h2 {
    margin: 16px 0 10px 0;
    font-size: 20pt;
}
.achievement_item h4 {
    margin: 0;
}
.achievement_item:last-child {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
.rewards_list {
    background-color: var(--brown-darker-color);
    display: flex;
}
.reward {
    background-color: var(--brown-darker-color);
    padding: 10px;
    border-right: 1px solid var(--brown-darkest-color);
    flex: 1;
}
.reward:last-of-type {
    border: none;
}
.reward_img {
    height: 48px;
    width: 48px;
    margin-right: 10px;
}

/* Still locked */
.achievement_locked {
    filter: brightness(70%);
}

/* Statistics */
/* Nothing here */

/* Settings */
.button_red {
    color: var(--warning-red);
    border: 2px solid var(--warning-red);
}
.button_red:hover {
    color: white;
    background-color: var(--warning-red);
}

/* 
JJ's Slider for Tips
Basically ripping off https://www.w3schools.com/howto/howto_js_rangeslider.asp
*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 10%; /* Full-width */
    height: 2px; /* Specified height */
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: background-color .2s;

    margin-top: 6px;
}
  
/* Mouse-over effects */
.slider:hover {
    background: rgba(255, 255, 255, 0.7);
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 4px; /* Set a specific slider handle width */
    height: 4px; /* Slider handle height */
    transform: scale(6, 6);
    border-radius: 50%;
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */

    box-shadow: 0 1px 6px black;
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Media queries */
/* Minimum supported width: 362px */
@media only screen and (max-width: 848px) {
    .Basic_Info {
        flex-direction: column;
        text-align: center;
    }
    #Tip {
        margin-left: unset;
    }
    #main_carrot {
        max-width: 100%;
        margin: auto;
    }
    #container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    #left-section {
        width: 430px;
        max-width: 100%;
        margin: 0 auto;
        box-shadow: none;
        background-color: transparent;
    }
    #right-section {
        border: none;
    }
    .charactertooltip {
        bottom: 0;
        transform: translate(0px, calc(100% + 10px));

        background: black;
        backdrop-filter: none;
    }
    .rewards_list {
        display: unset;
    }
    .reward {
        border-right: none;
        border-bottom: 1px solid var(--brown-darkest-color);
    }
}

@media only screen and (max-width: 400px) {
    #right-section {
        width: 100%;
    }
}
