/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Variables */
:root {
    /* CSS Variables */
    --main-bg-color:    #242222;
    --lighter-bg-color: #312e2e;
    --darker-bg-color:  #1f1d1d;
    --border-color:     #4b4747;

    --golden-carrot:    rgb(250, 225, 0);
    --warning-red:      rgb(255, 65, 65);

    /* Theme colors */
    --light-main-bg-color: whitesmoke;
    --light-highlight-color: white;
    --light-darker-bg-color: rgb(230, 230, 230);
    --light-theme-border-color: rgb(185, 185, 185);

    /* Dark scrollbar */
    /* color-scheme: dark; */
}

/* Scrollbar */
/* ::-webkit-scrollbar-track {
    background-color: lawngreen;
    width: 100px;
} */

/* Universal */
* {box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {margin: 0;}
a {color: rgb(137, 184, 255);}
a:hover {filter: brightness(120%);}

.flex {display: flex;}

img {
    user-select: none;
    -webkit-user-drag: none;

    touch-action: manipulation;
}
#container {
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 80px;
}
.unbold {
    font-weight: unset;
}
button {
    color: white;
    background-color: transparent;
    border: 2px solid white;

    margin: 4px 0;

    font-weight: bold;
    font-size: 11pt;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;

    transition-property: transform, background-color, color;
    transition-duration: 0.25s;
}
button:hover {
    color: black;
    background-color: white;

    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
input {
    padding: 4px 8px;
    border-radius: 30px;
}
.link_styling {
    cursor: pointer;
}
.link_styling:hover {
    text-decoration: underline;
}

/* Text Colors */
.colorwhite {
    color: white !important;
}
.golden {
    color: var(--golden-carrot) !important;
}

/* Background Colors (Toasts Usually) */
.background_white {
    background: rgb(255, 255, 255) !important;
    border: 4px solid rgb(92, 92, 92) !important;
    color: black;
}
.background_red {
    background: var(--warning-red) !important;
}
.background_orange {
    background: rgb(184, 94, 20) !important;    
}
.background_gold {
    background: rgb(197, 145, 15) !important;
    border: 2px solid var(--golden-carrot) !important;
}
.background_green {
    background: rgb(113, 153, 80) !important;
}
.background_cyan {
    background: rgb(64, 111, 114) !important;
}
.background_blue {
    background: rgb(53, 72, 136) !important;
}
.background_purple {
    background: rgb(87, 61, 117) !important;
}
.background_brown,
.background_dirt {
    background: rgb(78, 63, 52) !important;
}
/* Special Backgrounds */
.background_dirt {
    background-image: url(./assets/Dirt-Background.jpg) !important;
}

.background_red,
.background_orange,
.background_green,
.background_cyan,
.background_blue,
.background_purple {
    border: 2px solid white !important;
}

/* Always on top elements */

/* Dialog Popup */
#overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100%;
    width: 100%;
}
#backdrop {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(20px);
    animation: backdrop 1.5s forwards;
}
@keyframes backdrop {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}
#overlay.dramatic {
    backdrop-filter: blur(20px) saturate(20%);
}
#dialog {
    width: 420px;
    background: rgb(53, 53, 53);
    padding: 20px;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* animation: dialog 0.5s cubic-bezier(0.39, 0.575, 0.565, 1); */
}
.dialog_animate {
    animation: dialog 0.25s ease-out;
}
@keyframes dialog {
    from {
        transform: translate(-50%, calc(-50% + 20px));
    }
}
#dialog h2, #dialog p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
#dialog button {
    width: 49%;
}

.visible {
    visibility: visible !important;
}

/* Toasts */
#toast_container {
    position: fixed;
    z-index: 201;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
    padding-top: 20px;

    display: flex;
    flex-direction: column-reverse;

    max-height: 100%;
    /* max-height: 400px; */
    overflow: auto;

    pointer-events: none;
}
.toast {
    width: 300px;
}
.toast, #toasts_clear {
    margin: 16px;
    margin-top: 0;
    padding: 12px 16px;
    background: #353535;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    position: relative;
    word-break: break-word;

    animation: toast 0.4s;
    pointer-events: initial;
}
.toast_out {animation: toast_out 0.25s forwards;}
@keyframes toast {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
}
@keyframes toast_out {
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}
.toast_close {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    padding: 10px;
    margin-top: 4px;
    margin-right: 4px;
    top: 0;
    right: 0;
    cursor: pointer;
}
.toast_close:hover {
    color: white;
    text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}
.toast h3, .toast p {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}
#toasts_clear {
    cursor: pointer;
    padding: 6px 24px;
    width: 112px;
    margin-left: auto;
    border-radius: 100px;

    visibility: hidden;
    transition: filter 0.1s;
}
#toasts_clear:hover {
    filter: brightness(125%);
}

/* Number Popup */
.clickvisual {
    font-size: 24pt;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    transform: translateX(-50%);
    position: absolute;
    z-index: 49;
    top: 0;
    left: 0;
    
    pointer-events: none;
    animation: clickBonus 1.25s linear forwards;
}
@keyframes clickBonus {
    0% {
        transform: translateY(-20px) translateX(-60%);
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateY(-90px) translateX(-60%);
        opacity: 0;
    }
}

/* Status Bar */
.status_bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;

    pointer-events: none;
}
.status_bar * {
    pointer-events: all;
}
.Basic_Info {
    background-color: var(--lighter-bg-color);
    border-bottom: 1px solid var(--border-color);
    width: 100%;

    padding: 8px 20px;
}
.status_progress_bar {
    width: 100%;
    max-width: 400px;

    background-color: var(--lighter-bg-color);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 10px 10px;

    margin: 0 auto;

    /* Hidden by default */
    visibility: hidden;
}
.main_progress_image {
    float: left;
    margin-right: 24px;
}
.status_progress {
    height: 10px;
    background-color: gray;
}
#Tip {
    margin-left: auto;
}
#Carrot_Count {
    font-size: 20pt;
    text-align: center;
}
#cpc, #cps, #golden_carrot_count {
    text-align: center;
}
#golden_carrot_count {
    color: gray;
}
#left-section {
    /* width: 420px; */
    /* margin-left: auto; */
    margin-right: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5) inset;
    border-radius: 24px;
    height: fit-content;

    background-color: var(--darker-bg-color);
}
#main_carrot {
    margin: 10px;
    margin-right: 20px;
    width: 400px;
    height: auto;
    position:inherit;
    z-index: 0;
    cursor: pointer;

    transition: transform 0.1s;
}
#main_carrot:active {
    transform: scale(0.98,0.98)
}
#main_carrot:focus-visible {
    outline: none;
}
/* Prestige */
#prestige-section {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    visibility: hidden;
}
.button_gold {
    background-color: transparent;
    color: var(--golden-carrot);
    border: 2px solid var(--golden-carrot);
}
.button_gold:hover {
    background-color: var(--golden-carrot);
    color: black;
    border: 2px solid var(--golden-carrot);
}
.prestigetooltip {
    margin-left: 8px;
    margin-top: 4px;
}



/* Right section */
.character_column {
    height: 100%;
}

/* Characters */
.characterbox {
    background: var(--lighter-bg-color);
    border: 3px solid var(--lighter-bg-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    width: 362px;
    margin: 0px;
    margin-bottom: 8px;
    margin-right: 10px;

    position: relative;
    z-index: 10;

    outline: transparent;
    transition-property: box-shadow, border, background, outline;
    transition-duration: 0.15s;
}
.characterbox:hover {
    /* border: 3px solid #6d6565; */
    outline: 1px solid #4b4747;
    z-index: 11;
}
.bottom {
    padding-top: 2px;
    background: var(--main-bg-color);
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}
/* Character tooltips */
.tooltip {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(88, 88, 88, 0.8);
    backdrop-filter: blur(10px);

    max-width: 260px;
    position: absolute;

    /* visibility: hidden; */
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.25s;
    pointer-events: none;
}
.charactertooltip {
    transform: translate(calc(-100% - 10px), -2px);
    /* left: 0;
    top: unset; */
}
.characterbox:hover .charactertooltip {
    visibility: visible;
    animation: float_in 2s forwards;
}
@keyframes float_in {
    80% {
        margin-left: -20px;
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

/* Character info */
.characterdesc {
    margin-left: 4px;
}
.charactername {
    text-decoration: underline;
}
.characterimg {
    height: 64px;
    width: 64px;
    image-rendering: pixelated;
    border-top-left-radius: 10px;
}
/* Tools/upgrades */
.levelupimg, .toolicon {
    transition-property: transform, filter;
    transition-duration: 0.25s;
    cursor: pointer;
}
.levelupimg {
    margin-bottom: -6px;
    width: 48px;
    height: 40px;
    cursor: pointer;
}
.toolicon {
    image-rendering: pixelated;
    height: 32px;
    width: auto;
}
.toolicon:hover,
.levelupimg:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(150%);
}
.toolicon:active, .levelupimg:active {
    transform: scale(0.9, 0.9);
    filter: brightness(70%);
}
.toolnumber {
    display: inline-block;
    position: absolute;
    font-size: 11pt;
    transform: translateX(16px) translateY(20px);

    pointer-events: none;
}

/* Greg */
.Greg .toolicon {
    height: 45px;
    margin-bottom: 20px;
}
.Greg .toolnumber {
    font-size: 14pt;
    transform: translateX(22px) translateY(24px);
}
.Greg .hoe_price {
    font-size: 0.9rem;
    position: absolute;
    transform: translateY(44px);
    width: 45px;
    text-align: center;
}
.Greg .levelupimg {
    margin-bottom: 25px;
}
#Greg_Bar{
    /* Unhide when bar is active: */
    /* visibility: hidden; */
    width: 100%;
    height: 10px;
    /* background: gray; */
    background-color: gray;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    overflow: hidden;
}
.progress {
    transition: width 0.1s;
    width: 0%;
    max-width: 100%;
    height: 100%;

    background: lightgreen;
    background-repeat: repeat-x;
    background: repeating-linear-gradient(
        45deg,
        lightgreen,
        lightgreen 14px,
        rgb(94, 209, 94) 14px,
        rgb(94, 209, 94) 28px
        );
    background-position: top;
    animation: progress_animate 12s infinite linear;
}
@keyframes progress_animate {
    to {
        background-position-x: -400px;
    }
}
/* Charles */
.Charles button {
    width: calc(100% - 10px);
    margin: 5px;
}

/* Greyed out/Blacked out/Glowing effects */
.grayedout {
    filter: brightness(90%) saturate(0%);
}
.blackedout {
    filter: contrast(0%) brightness(20%);
}
.grayedout .levelupimg,
.grayedout .toolicon,
.grayedout.levelupimg,
.grayedout.toolicon,

.blackedout .levelupimg,
.blackedout .toolicon,
.blackedout.levelupimg,
.blackedout.toolicon{
    cursor: unset;
}
.grayedout .levelupimg:hover,
.grayedout .toolicon:hover,
.grayedout.levelupimg:hover,
.grayedout.toolicon:hover,
.grayedout .levelupimg:active,
.grayedout .toolicon:active,
.grayedout.levelupimg:active,
.grayedout.toolicon:active {
    transform: none;
    filter: brightness(90%) saturate(0%);
}

.blackedout .levelupimg:hover,
.blackedout .toolicon:hover,
.blackedout.levelupimg:hover,
.blackedout.toolicon:hover,
.blackedout .levelupimg:active,
.blackedout .toolicon:active,
.blackedout.levelupimg:active,
.blackedout.toolicon:active {
    transform: none;
    filter: contrast(0%) brightness(20%);
}

.glowing {
    animation: glowing 3s infinite alternate linear;
    cursor: pointer;
}
@keyframes glowing {
    from {
        filter: drop-shadow(0px 0px 7px rgb(255, 235, 120, 0.5));
    }
    to {
        filter: drop-shadow(0px 0px 8px rgb(255, 255, 207)) brightness(115%);
    }
}
.glowing:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(150%);
}
.glowing:active {
    transform: scale(0.9, 0.9);
    filter: brightness(70%);
}



/* Notifications section */
#notifs-section {
    max-width: 1150px;
    position: relative;
    width: 100%;
    height: 410px;
    min-width: 270px;
    margin: 24px auto;
    padding: 0;
    background-color: rgb(78, 63, 52);
    overflow: auto;
}
#notifs-section nav {
    margin: 0 auto;
    background-color: rgb(78, 63, 52);;
}
#notifs-section nav .tab {
    width: 33.33%;
    height: 2em;
    color: white;
    cursor: pointer;
    background-color: rgb(53, 42, 34);
    border: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.tab:hover {
    transform: translateY(-2px);
}
#notifs-section nav .activetab {
    background-color: rgb(78, 63, 52);
    border: none;
    border-bottom: none;
}
.inactivetab:hover {
    filter: brightness(120%);
}
.activetab#info-tab-button {
    background-color: teal;
}

/* Info panel */
.panel {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px 24px;
    padding-right: 0;
}
#achievements-panel {
    visibility: visible;
}
#info-panel {
    visibility: hidden;
}
#settings-panel {
    visibility: hidden;
}

/* Achievements */
.info-item {
    width: 10%;
    /* width: calc(90% - 40px); */
    /* max-width: 500px; */
    padding: 4px;
    background-color: #42362d;
    border: 1px solid goldenrod;
    border-radius: 4px;
    display: flex;
}
.info-item h1 {
    font-size: 14pt;
    margin-bottom: 0;
}
.achievement-img {
    height: 64px;
    width: 64px;
    margin-right: 8px;
}
/* Settings */
.button_red {
    color: var(--warning-red);
    border: 2px solid var(--warning-red);
}
.button_red:hover {
    color: white;
    background-color: var(--warning-red);
}

/* 
JJ's Slider for Tips
Basically ripping off https://www.w3schools.com/howto/howto_js_rangeslider.asp 
*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 10%; /* Full-width */
    height: 2px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    border-radius: 50%;
    background: #ff4800; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ff4800; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

/* Media queries */
/* Minimum supported width: 417px */
@media only screen and (max-width: 848px) {
    .Basic_Info {
        flex-direction: column;
        text-align: center;
    }
    #Tip {
        margin-left: unset;
    }
    #main_carrot {
        max-width: 100%;
        margin: auto;
    }
    #container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    #left-section {
        max-width: 100%;
        margin: 0 auto;
        box-shadow: none;
        background-color: transparent;
    }
    #right-section {
        border: none;
    }
    .charactertooltip {
        bottom: 0;
        transform: translate(0px, calc(100% + 10px));

        background: black;
        backdrop-filter: none;
    }
}

@media only screen and (max-width: 400px) {
    #right-section {
        width: 100%;
    }
}
