/* ---------------- Light theme ------------------- */
/* Universal */
.theme_light {
    background-color: whitesmoke;
    color: black;
}
.theme_light button {
    color: black;
    /* border: 1px solid var(--light-theme-border-color); */
    background-color: whitesmoke;
}
.theme_light button:hover {
    border-color: var(--border-color);
}
.theme_light input,
.theme_light select {
    border: 1px solid var(--border-color);
}

/* Scrollbar */
.theme_light ::-webkit-scrollbar {
	width: 16px;
}
.theme_light ::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--light-main-bg-color);
}
.theme_light ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--border-color);

    /* Fake margins from https://stackoverflow.com/a/45420691/11039898 */
    box-shadow: inset 0 0 10px 10px var(--border-color);
    border: 3px solid var(--main-bg-color);
}

/* Basic Info */
.theme_light .Basic_Info {
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-color: var(--light-theme-border-color);
}

/* Gamespace */
.theme_light #left-section {
    background-color: var(--light-darker-bg-color);
}
.theme_light .characterbox {
    background-color: white;
    border-color: white;

    box-shadow: 0px 4px 6px rgba(145, 98, 98, 0.4);
}
.theme_light .characterbox:hover {
    box-shadow: 0px 6px 12px rgba(145, 98, 98, 0.4);
}
.theme_light .characterbox .bottom {
    background-color: var(--light-darker-bg-color);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2) inset;
}
.theme_light .tooltip {
    color: white;
}

.theme_light .blackedout {
    opacity: 0.2;
}

/* Dialog box/toasts */
.theme_light .toast {
    color: white;
}
.theme_light .popup_box {
    background-color: white;
}

/* Tri-pane */
.theme_light #notifs-section {
    background-color: white;
}
.theme_light #notifs-section nav {
    background-color: var(--light-darker-bg-color);
}
.theme_light #notifs-section nav .tab {
    background-color: var(--light-darker-bg-color);
    color: gray;
}
.theme_light #notifs-section nav .activetab {
    background-color: white;
}











/* OLED Dark theme */
.theme_oled {
    background-color: black;
}
.theme_oled .Basic_Info {
    background-color: black;
}
.theme_oled #left-section,
.theme_oled #main_carrot,
.theme_oled .characterbox,
.theme_oled #notifs-section {
    box-shadow: none;
}

.theme_oled #left-section {
    background-color: unset;
}

.theme_oled .characterbox {
    background-color: black;
}
.theme_oled .bottom {
    background-color: black;
}
.theme_oled .blackedout {
    filter: contrast(0%) brightness(30%);
}

/* Tri-pane */
.theme_oled #notifs-section {
    background-color: black;
}
.theme_oled #notifs-section nav {
    background-color: black;
}
.theme_oled #notifs-section nav .tab {
    background-color: rgb(24, 24, 24);
    color: gray;
}
.theme_oled #notifs-section nav .activetab {
    background-color: black;
    border: 1px solid white;
    border-bottom: none;
    color: white;
}














/* Classic theme */
.theme_classic .Basic_Info {
    background-color: #4e3f34;
    background-image: url(./assets/Dirt-Background.jpg);
}

.theme_classic #left-section {
    box-shadow: none;
    background-color: transparent;
}
.theme_classic #main_carrot {
    filter: none;
}
.theme_classic #main_carrot:active {
    filter: none;
}

.theme_classic .characterbox {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid rgb(29, 248, 0);
    box-shadow: none;
}
.theme_classic .characterimg {
    border-radius: 0;
}
.theme_classic #Greg_Bar {
    background-color: gray;
    border-radius: 0;
}











/* Red theme */
.theme_red {
    background-color: rgb(63, 20, 20);
}
.theme_red .Basic_Info {
    background-color: rgb(145, 53, 53);
}
.theme_red #left-section {
    background-color: rgb(112, 37, 37);
}
.theme_red .characterbox {
    background-color: rgb(145, 53, 53);
    border-color: rgb(112, 37, 37);
}
.theme_red .bottom {
    background-color: rgb(112, 37, 37);
}
/* Tri-pane */
.theme_red #notifs-section {
    background-color: var(--lighter-bg-color);
}
.theme_red #notifs-section nav {
    background-color: var(--main-bg-color);
}
.theme_red #notifs-section nav .tab {
    background-color: var(--main-bg-color);
    color: gray;
}
.theme_red #notifs-section nav .activetab {
    background-color: var(--lighter-bg-color);
    color: white;
}












/* Green theme */
.theme_green {
    background-color: rgb(37, 49, 34);
}
.theme_green .Basic_Info {
    background-color: rgb(76, 105, 73);
}
.theme_green #left-section {
    background-color: rgb(25, 34, 22);
}
.theme_green .characterbox {
    background-color: rgb(76, 105, 73);
    border-color: rgb(76, 105, 73);
}
.theme_green .bottom {
    background-color: rgb(37, 49, 34);
}
/* Tri-pane */
.theme_green #notifs-section {
    background-color: var(--lighter-bg-color);
}
.theme_green #notifs-section nav {
    background-color: var(--main-bg-color);
}
.theme_green #notifs-section nav .tab {
    background-color: var(--main-bg-color);
    color: gray;
}
.theme_green #notifs-section nav .activetab {
    background-color: var(--lighter-bg-color);
    color: white;
}












/* Blue theme */
.theme_blue {
    background-color: rgb(40, 50, 70);
}
.theme_blue .Basic_Info {
    background-color: rgb(69, 87, 121);
}
.theme_blue #left-section {
    background-color: rgb(24, 30, 48);
}
.theme_blue .characterbox {
    background-color: rgb(69, 87, 121);
    border-color: rgb(69, 87, 121);
}
.theme_blue .bottom {
    background-color:rgb(40, 50, 70);
}
/* Tri-pane */
.theme_blue #notifs-section {
    background-color: var(--lighter-bg-color);
}
.theme_blue #notifs-section nav {
    background-color: var(--main-bg-color);
}
.theme_blue #notifs-section nav .tab {
    background-color: var(--main-bg-color);
    color: gray;
}
.theme_blue #notifs-section nav .activetab {
    background-color: var(--lighter-bg-color);
    color: white;
}















/* Retro theme */
.theme_retro * {
    transition: none;
    font-family: monospace;
}
.theme_retro {
    background-color: #0f380e;
    color: #cadca0;
}
.theme_retro a {
    color: #cadca0;
}
.theme_retro a:hover,
.theme_retro .link_styling:hover {
    color: white;
}
.theme_retro img,
.theme_retro #main_carrot {
    image-rendering: pixelated;
    filter: saturate(0%)
            brightness(85%)
            sepia(100%)
            hue-rotate(54deg)
            saturate(120%);
    border-radius: 0;
}
.theme_retro button {
    border-color: #cadca0;
    color: #cadca0;
    border-radius: 0;
}
.theme_retro input,
.theme_retro select {
    background-color: #0f2c0e;
    color: #cadca0;
    border-radius: 0;
}
.theme_retro .clickvisual {
    color: #cadca0;
    font-weight: bolder;
    letter-spacing: -2px;
}
.theme_retro .toast {
    border-radius: 0;
    background-color: #0f2c0e;
    border-color: #30622f;
}



.theme_retro .Basic_Info {
    background-color: #30622f;
}
.theme_retro #left-section {
    background-color: #0f2c0e;
    box-shadow: none;
    border-radius: 0;
}
.theme_retro .characterbox {
    background-color: #30622f;
    border-color: #30622f;
    border-radius: 0;
    box-shadow: 8px 8px 0 #0f380e;
}
.theme_retro .bottom {
    background-color: #0f380e;
    border-radius: 0;
}
.theme_retro #Greg_Bar {
    background-color: red;
    border: 0;
}
.theme_retro #Greg .toolicon {
    background-color: red;
}


/* Tri-pane */
.theme_retro #notifs-section {
    background-color: #30622f;
}
.theme_retro #notifs-section nav {
    background-color: #0f380e;
}
.theme_retro #notifs-section .tab {
    background-color: #0f380e;
}
.theme_retro #notifs-section .activetab {
    background-color: #30622f;
}














/* Minecraft theme */
.theme_blockgame * {
    font-family: 'Minecraft Regular', 'Courier New', Courier, monospace;
    text-shadow: 0.1em 0.1em black;
}
.theme_blockgame {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url(./assets/theme/blockgame/dirt.png);
    background-size: 64px;
    background-position: center;
    image-rendering: pixelated;
}
.theme_blockgame button,
.theme_blockgame select,
.theme_blockgame #notifs-section nav .tab,
.theme_blockgame .slider::-webkit-slider-thumb {
    background: #2a2a2a url(./assets/theme/blockgame/button.png);
    background-size: 250%;
    background-position: center;
    image-rendering: pixelated;

    color: white;
    border-radius: 0;
    border-style: solid;
    border-top-color: #aaaaaa;
    border-left-color: #aaaaaa;
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
    border-right-color: rgba(0, 0, 0, 0.3);
    outline: 2px solid black;

    transition: none;
    transform: none;
}
.theme_blockgame button:hover,
.theme_blockgame select:hover,
.theme_blockgame #notifs-section nav .tab:hover {
    background-image: url(./assets/theme/blockgame/button_active.png);
    color: white;
}
.theme_blockgame .button_red {
    color: #FF5555;
}
.theme_blockgame .button_red:hover {
    outline-color: #FF5555;
}
.theme_blockgame input:not(.checkbox) {
    background-color: black;
    border-radius: 0;
    color: white;
}
/* .theme_blockgame .checkbox {
    width: 30px;
    height: 30px;
    background-image: url(/assets/theme/blockgame/checkbox_background.png);
} */
.theme_blockgame .slider {
    height: 29px;

    background: #777777 url(./assets/theme/blockgame/button_disabled.png);
    background-size: 100%;
    background-position: center;
    image-rendering: pixelated;

    border: 2px solid black;
}
.theme_blockgame .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 29px;
    border-radius: 0;

    cursor: pointer;

    box-shadow: 0 1px 6px black;
}
.theme_blockgame .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

/* Overlays */
.theme_blockgame #backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url(./assets/theme/blockgame/dirt.png);
    background-size: 64px;
    background-position: center;
    image-rendering: pixelated;
    backdrop-filter: none;
}
.theme_blockgame .popup_box {
    background-color: unset;
    width: 500px;
}
.theme_blockgame .toast {
    background-color: #212121;
    border-color: #555555;
    border-width: 4px;
    outline: 2px solid black;
}

/* Gamespace */
.theme_blockgame .Basic_Info {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/theme/blockgame/grass_block_side.png);
    background-size: 64px;
    background-position: top;
    image-rendering: pixelated;
}
.theme_blockgame #left-section {
    box-shadow: none;
    /* background-color: unset; */
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
                url(./assets/theme/blockgame/dirt.png);
    background-size: 64px;
    background-position: top;
    image-rendering: pixelated;

    border-radius: 0;
    border: 4px solid black;
}
.theme_blockgame #main_carrot {
    filter: drop-shadow(24px 24px 0 rgba(0, 0, 0, 0.4));
}
.theme_blockgame #main_carrot:active {
    filter: drop-shadow(12px 12px 0 rgba(0, 0, 0, 0.4)); 
}
.theme_blockgame .characterbox,
.theme_blockgame .characterbox img,
.theme_blockgame .bottom,
.theme_blockgame .toast,
.theme_blockgame #Greg_Bar {
    border-radius: 0;
}
.theme_blockgame .characterbox {
    background-color: #8b8b8b;
}
.theme_blockgame .bottom {
    background-color: #c6c6c6;
}
.theme_blockgame .toolicon {
    background-color: #8b8b8b;
    border-width: 3px;
    border-style: solid;

    border-top-color: #373737;
    border-left-color: #373737;
    border-right-color: white;
    border-bottom-color: white;
}

/* .theme_blockgame #Greg .lvlupimg {
    margin-right: -2px;
} */



/* Scrollbar */
.theme_blockgame::-webkit-scrollbar {
	width: 12px;
}
.theme_blockgame::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: black;
}
.theme_blockgame::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #c0c0c0;

    border-width: 2px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

/* Tri-pane */
.theme_blockgame #notifs-section nav .tab {
    color: rgb(163, 163, 163);
    padding-bottom: 20px;
}
.theme_blockgame #notifs-section nav .activetab {
    color: white;
    filter: none;
    outline-color: white;
}
.theme_blockgame .panel {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                url(./assets/theme/blockgame/stone.png);
    background-size: 64px;
    background-position: center;
    background-attachment: local;
    image-rendering: pixelated;
}