/* ---------------- Light theme ------------------- */
/* Universal */
.theme_light {
    background-color: whitesmoke;
    color: black;
}
.theme_light button {
    color: black;
    /* border: 1px solid var(--light-theme-border-color); */
    background-color: whitesmoke;
}
.theme_light .main_bg_color {
    background-color: var(--light-darker-bg-color);
}
.theme_light .link_styling:hover {
    color: black;
}
.theme_light button:hover {
    border-color: var(--border-color);
}
.theme_light input,
.theme_light select {
    border: 1px solid var(--border-color);
}
.theme_light .secondary_text {
    color: rgb(70, 70, 70);
}
.theme_light .white {
    color: black !important;
}
.theme_light .invert {
    filter: none;
}
.theme_light .hover_menu {
    border-color: var(--light-theme-border-color);
}
.theme_light .button_icon:not(.invert),
.theme_light .dropdown_img:not(.invert) {
    filter: invert();
}

/* Scrollbar */
.theme_light ::-webkit-scrollbar {
	width: 16px;
}
.theme_light ::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--light-main-bg-color);
}
.theme_light ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--border-color);

    /* Fake margins from https://stackoverflow.com/a/45420691/11039898 */
    box-shadow: inset 0 0 10px 10px var(--border-color);
    border: 3px solid var(--main-bg-color);
}

/* On top */
.theme_light .theme_item {
    background-color: whitesmoke;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}
.theme_light .theme_item:hover {
    outline-color: var(--light-theme-border-color);
}
.theme_light .theme_checkbox {border-color: rgba(0, 0, 0, 0.5);}

/* Basic Info */
.theme_light .Basic_Info {
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-color: var(--light-theme-border-color);
}

/* Gamespace */
.theme_light #left-section {
    background-color: var(--light-darker-bg-color);
}
.theme_light .main_button_img {
    filter: invert();
}
.theme_light .characterbox {
    background-color: white;
    border-color: white;

    box-shadow: 0px 4px 6px rgba(145, 98, 98, 0.4);
}
.theme_light .characterbox:hover {
    box-shadow: 0px 6px 12px rgba(145, 98, 98, 0.4);
}
.theme_light .characterbox .bottom {
    background-color: var(--light-darker-bg-color);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2) inset;
}
.theme_light .tooltip {
    color: white;
}
.theme_light #Greg_Bar {
    background-color: gray;
}

.theme_light .achieve_grid .achievement_item .achievement_details h2,
.theme_light .achieve_grid .achievement_item .achievement_details .secondary_text {
    color: white !important;
}

.theme_light .cosmetics_grid .description,
.theme_light .cosmetics_grid .description .secondary_text {
    color: white;
}
.theme_light .theme_checkbox {
    background-color: white !important;
}

.theme_light .achievement_item,
.theme_light .shop_item,
.theme_light .footer_bottom {
    background-color: white;
}
.theme_light .achievement_item h2 {
    color: black;
}
.theme_light #toasts_clear,
.theme_light .toast_close:not(.generic_close):not(.dialog_close) {
    color: white !important;
}

/* Dialog box/toasts */
.theme_light .toast {
    color: white;
}
.theme_light .dialog_close {
    background-color: var(--light-darker-bg-color);
    color: black;
    border-color: var(--light-theme-border-color);
}
.theme_light .toast_close,
.theme_light .generic_close {
    color: black;
}
.theme_light .popup_box {
    background-color: white;
}

/* Tri-pane */
.theme_light #tripane {
    background-color: white;
}
.theme_light #tripane nav {
    background-color: var(--light-darker-bg-color);
}
.theme_light #tripane nav .tab {
    background-color: var(--light-darker-bg-color);
    color: gray;
}
.theme_light #tripane nav .activetab {
    background-color: white;
}

.theme_light .switcher_bar .tab:not(.activetab),
.theme_light #dialog_close {
    background-color: var(--light-darker-bg-color);
}
.theme_light #info_dropdown:hover,
.theme_light .menu_item:hover {
    background-color: var(--light-darker-bg-color);
}
.theme_light .hover_menu {
    background-color: white;
}










/* OLED Dark theme */
.theme_oled {
    background-color: black;
}
.theme_oled .popup_box {
    background-color: black;
}
.theme_oled .Basic_Info {
    background-color: black;
}
.theme_oled .hover_menu {
    background-color: black;
}
.theme_oled #left-section,
.theme_oled #main_carrot,
.theme_oled .characterbox,
.theme_oled #tripane {
    box-shadow: none;
}

.theme_oled #left-section {
    background-color: unset;
}

.theme_oled .characterbox {
    background-color: black;
}
.theme_oled .bottom {
    background-color: black;
}
.theme_oled .blackedout {
    filter: contrast(0%) brightness(30%);
}

/* Tri-pane */
.theme_oled #tripane {
    background-color: black;
}
.theme_oled #tripane nav {
    background-color: black;
}
.theme_oled #tripane nav .tab {
    background-color: rgb(24, 24, 24);
    color: gray;
}
.theme_oled #tripane nav .activetab {
    background-color: black;
    border: 1px solid white;
    border-bottom: none;
    color: white;
}

/* Achievements */
.theme_oled .achievement_item,
.theme_oled .footer_bottom,
.theme_oled .prestige_item,
.theme_oled .shop_item {
    background-color: black;
    box-shadow: none;
    border: 1px solid var(--border-color);
}
.theme_oled hr {
    background-color: var(--border-color) !important;
}













/* Classic theme */
.theme_classic .popup_box {
    border-radius: 0;
    box-shadow: none;
}
.theme_classic .Basic_Info {
    background-color: #4e3f34;
    background-image: url(./assets/Dirt-Background.jpg);
    padding-left: 20px;
}
.theme_classic #main_icon {
    visibility: hidden;
}
.theme_classic .hover_menu {
    background-color: #4e3f34;
}

.theme_classic #left-section {
    box-shadow: none;
    background-color: transparent;
}
.theme_classic #main_carrot {
    filter: none;
}
.theme_classic #main_carrot:active {
    filter: none;
}

.theme_classic .characterbox {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid rgb(29, 248, 0);
    box-shadow: none;
}
.theme_classic .character_name {
    text-decoration: underline;
}
.theme_classic .characterimg {
    border-radius: 0;
}
.theme_classic .levelupimg {
    content: url("./assets/icons/lvl_up_arrow_old.png");
    /* transform: scale(1.2, 1) translateX(2px); */
}
.theme_classic .shop_item {
    background-color: transparent;
}
.theme_classic #Greg_Bar {
    background-color: gray;
    border-radius: 0;
}
.theme_classic .greg_crafting_info {
    visibility: hidden;
    transform: translateY(4px);
}
.theme_classic .greg_crafting_info::before {
    content: "Prices:";
    visibility: visible;
}
.theme_classic .achievement_item {
    border: 1px solid goldenrod;
}
.theme_classic .footer_bottom {
    background-color: transparent;
    box-shadow: none;
}

.theme_classic .popup_box {
    border-color: transparent;
}











/* Red theme */
.theme_red {
    background-color: rgb(63, 20, 20);
}
.theme_red .Basic_Info {
    background-color: #913535;
}
.theme_red #left-section {
    background-color: rgb(112, 37, 37);
}
.theme_red .characterbox {
    background-color: rgb(145, 53, 53);
    border-color: rgb(112, 37, 37);
}
.theme_red .bottom {
    background-color: rgb(112, 37, 37);
}
/* Tri-pane */
.theme_red #tripane {
    background-color: var(--lighter-bg-color);
}
.theme_red #tripane nav {
    background-color: var(--main-bg-color);
}
.theme_red #tripane nav .tab {
    background-color: var(--main-bg-color);
    color: gray;
}
.theme_red #tripane nav .activetab {
    background-color: var(--lighter-bg-color);
    color: white;
}












/* Green theme */
.theme_green {
    background-color: rgb(37, 49, 34);
}
.theme_green .Basic_Info {
    background-color: rgb(76, 105, 73);
}
.theme_green #left-section {
    background-color: rgb(25, 34, 22);
}
.theme_green .characterbox {
    background-color: rgb(76, 105, 73);
    border-color: rgb(76, 105, 73);
}
.theme_green .bottom {
    background-color: rgb(37, 49, 34);
}
/* Tri-pane */
.theme_green #tripane {
    background-color: var(--lighter-bg-color);
}
.theme_green #tripane nav {
    background-color: var(--main-bg-color);
}
.theme_green #tripane nav .tab {
    background-color: var(--main-bg-color);
    color: gray;
}
.theme_green #tripane nav .activetab {
    background-color: var(--lighter-bg-color);
    color: white;
}












/* Blue theme */
.theme_blue {
    background-color: rgb(40, 50, 70);
}
.theme_blue .Basic_Info {
    background-color: rgb(69, 87, 121);
}
.theme_blue #left-section {
    background-color: rgb(24, 30, 48);
}
.theme_blue .characterbox {
    background-color: rgb(69, 87, 121);
    border-color: rgb(69, 87, 121);
}
.theme_blue .bottom {
    background-color:rgb(40, 50, 70);
}
/* Tri-pane */
.theme_blue #tripane {
    background-color: var(--lighter-bg-color);
}
.theme_blue #tripane nav {
    background-color: var(--main-bg-color);
}
.theme_blue #tripane nav .tab {
    background-color: var(--main-bg-color);
    color: gray;
}
.theme_blue #tripane nav .activetab {
    background-color: var(--lighter-bg-color);
    color: white;
}








/* Black & White theme */
/* .theme_bw * {
    filter: saturate(0);
} */
.theme_bw #left-section,
.theme_bw .status_bar,
.theme_bw .characterbox,
.theme_bw .information-area,
.theme_bw .popup_box,
.theme_bw .clickvisual {
    filter: saturate(0);
}
.theme_bw .status_bar {
    top: 0;
}
.theme_bw {
    background-color: rgb(36, 36, 36);
}
/* .theme_bw img,
.theme_bw #main_carrot {
    filter: saturate(0%);
    /* image-rendering: unset; */
/* }
.theme_bw .Basic_Info {
    background-color: rgb(71, 71, 71);
}
.theme_bw .characterbox {
    background-color: rgb(71, 71, 71);
    border-color: rgb(71, 71, 71);
}
.theme_bw .bottom {
    background-color: rgb(44, 44, 44);
} */













/* Retro theme */
.theme_retro * {
    transition: none;
    font-family: monospace;
}
.theme_retro {
    background-color: #0f380e;
    color: #cadca0;
}
.theme_retro a {
    color: #cadca0;
}
.theme_retro a:hover,
.theme_retro .link_styling:hover {
    color: white;
}
.theme_retro img,
.theme_retro #main_carrot {
    image-rendering: pixelated;
    filter: saturate(0%)
            brightness(85%)
            sepia(100%)
            hue-rotate(54deg)
            saturate(120%);
    border-radius: 0;
}
.theme_retro button {
    border-color: #cadca0;
    color: #cadca0;
    border-radius: 0;
}
.theme_retro input,
.theme_retro select {
    background-color: #0f2c0e;
    color: #cadca0;
    border-radius: 0;
}
.theme_retro .clickvisual {
    color: #cadca0;
    font-weight: bolder;
    letter-spacing: -2px;
}
.theme_retro .toast {
    border-radius: 0;
    background-color: #0f2c0e;
    border-color: #30622f;
}



.theme_retro .Basic_Info {
    background-color: #30622f;
}
.theme_retro #left-section {
    background-color: #0f2c0e;
    box-shadow: none;
    border-radius: 0;
}
.theme_retro .characterbox {
    background-color: #30622f;
    border-color: #30622f;
    border-radius: 0;
    box-shadow: 8px 8px 0 #0f380e;
}
.theme_retro .bottom {
    background-color: #0f380e;
    border-radius: 0;
}
.theme_retro #Greg_Bar {
    background-color: #0f2c0e;
    border-radius: 0;
}
/* .theme_retro #Greg .toolicon {
    background-color: red;
} */


/* Tri-pane */
.theme_retro #tripane {
    background-color: #30622f;
}
.theme_retro #tripane nav {
    background-color: #0f380e;
}
.theme_retro #tripane .tab {
    background-color: #0f380e;
}
.theme_retro #tripane .activetab {
    background-color: #30622f;
}









/* Terminal theme */
.theme_terminal,
.theme_terminal #left-section,
.theme_terminal .characterbox,
.theme_terminal .bottom,
.theme_terminal .shop_item,
.theme_terminal .Basic_Info,
.theme_terminal #info_dropdown,
.theme_terminal #main_progress_container,
.theme_terminal .popup_box,
.theme_terminal .theme_item,
.theme_terminal .panel,
.theme_terminal #tripane nav,
.theme_terminal #tripane nav .tab,
.theme_terminal .achievement_item,
.theme_terminal .achievement_details,
.theme_terminal .reward,
.theme_terminal .toast,
.theme_terminal .footer_bottom,
.theme_terminal #backdrop
 {
    background-color: #0c0c0c;
    border-color: transparent;
    animation: none !important;
    transition: none !important;
    border-radius: 0;
    box-shadow: none;
}
.theme_terminal * {
    font-family: 'Rowdies', cursive;
    font-family: 'Ubuntu Mono', monospace;
}


/* Scanline effect */
/* http://aleclownes.com/2017/02/01/crt-display.html */
/* .theme_terminal::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 1000;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;

    backdrop-filter: blur(0.5px);
} */


/* Overlays */
.theme_terminal .popup_box {
    box-shadow: none;
    border-top: 2px dashed gray;
    border-bottom: 2px dashed gray;
}
/* Buttons */
.theme_terminal button:not(.main_button_item) {
    border: none;
    padding: none;
    transition: none;
    border-radius: 0;
}
.theme_terminal button:hover {
    color: unset;
    background-color: initial;
    transform: none;
    text-decoration: underline;
}
.theme_terminal button:not(.main_button_item)::before {
    content: "[";
    /* margin-right: -7px; */
}
.theme_terminal button:not(.main_button_item)::after {
    content: "]";
}
.theme_terminal #tripane nav .tab::before {
    margin-right: -7px;
}

/* Main */
.theme_terminal .Basic_Info {
    padding-bottom: 16px;
    padding-left: 20px;
    border-bottom: 2px dashed white;
}
.theme_terminal #main_icon {
    visibility: hidden;
}
.theme_terminal #main_carrot {
    padding: 0;
    transition: none;
}
.theme_terminal #main_carrot:active {
    transform: translateY(4px);
    filter: none;
}
.theme_terminal .main_button_item  {
    border: none;
    border-radius: 0;
}
.theme_terminal .main_button_item:hover:not([disabled]) .main_button_img {
    filter: none;
    transform: translateY(-1px);
}
.theme_terminal .characterbox {
    border-radius: 0;
    padding-bottom: 12px;
    border-bottom: 2px dashed gray;
}
.theme_terminal .characterimg {
    visibility: hidden;
    margin-right: -64px;
}
.theme_terminal #Greg_Bar {
    border-radius: 0;
}
.theme_terminal #Greg_Progress,
.theme_terminal #main_progress_bar {
    background: white;
    transition: none;
}
.theme_terminal .charles_icon {
    visibility: hidden;
    margin-right: -36px;
}
.theme_terminal .levelupimg {
    filter: saturate(0%) brightness(150%);
}
/* .theme_terminal .levelupimg::before {
    content: "↑";
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
} */
.theme_terminal .button_icon {
    visibility: hidden;
    position: absolute;
}
.theme_terminal #tripane nav {
    border-top: 2px dashed gray;
    border-bottom: 2px dashed gray;
    border-radius: 0;
}
.theme_terminal #tripane nav .tab:not(.activetab) {
    color: gray;
}
.theme_terminal #tripane nav .tab:hover {
    transform: none;
    color: white;
}












/* Minecraft theme */
.theme_blockgame * {
    font-family: 'Minecraft Regular', 'Courier New', Courier, monospace;
    text-shadow: 0.1em 0.1em black;
    font-weight: normal;
}
.theme_blockgame {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url(./assets/theme/blockgame/dirt.png);
    background-size: 64px;
    background-position: top;
    image-rendering: pixelated;
}
.theme_blockgame button,
.theme_blockgame select,
.theme_blockgame .tab,
.theme_blockgame .slider::-webkit-slider-thumb {
    background: #2a2a2a url(./assets/theme/blockgame/button.png);
    background-size: 250%;
    background-position: center;
    image-rendering: pixelated;

    color: white;
    border-radius: 0;
    border-style: solid;
    border-top-color: #aaaaaa;
    border-left-color: #aaaaaa;
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
    border-right-color: rgba(0, 0, 0, 0.3);
    outline: 2px solid black;

    transition: none;
    transform: none;
}
.theme_blockgame button:hover,
.theme_blockgame select:hover,
.theme_blockgame #tripane nav .tab:hover {
    background-image: url(./assets/theme/blockgame/button_active.png);
    color: white;
}
.theme_blockgame .button_red {
    color: #FF5555;
}
.theme_blockgame .button_red:hover {
    outline-color: #FF5555;
}
.theme_blockgame input:not(.checkbox) {
    background-color: black;
    border-radius: 0;
    color: white;
}
/* .theme_blockgame .checkbox {
    width: 30px;
    height: 30px;
    background-image: url(/assets/theme/blockgame/checkbox_background.png);
} */
.theme_blockgame .slider {
    height: 29px;

    background: #777777 url(./assets/theme/blockgame/button_disabled.png);
    background-size: 100%;
    background-position: center;
    image-rendering: pixelated;

    border: 2px solid black;
}
.theme_blockgame .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 29px;
    border-radius: 0;

    cursor: pointer;

    box-shadow: 0 1px 6px black;
}
.theme_blockgame .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

/* Overlays */
.theme_blockgame #backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url(./assets/theme/blockgame/dirt.png);
    background-size: 64px;
    background-position: center;
    image-rendering: pixelated;
    backdrop-filter: none;
}
.theme_blockgame .popup_box {
    background-color: unset;
    /* width: 500px; */
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.theme_blockgame .toast {
    background-color: #212121;
    border-color: #555555;
    border-width: 4px;
    outline: 2px solid black;
}

/* Gamespace */
.theme_blockgame .Basic_Info {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/theme/blockgame/grass_block_side.png);
    background-size: 64px;
    background-position: top;
    image-rendering: pixelated;
}
.theme_blockgame #left-section {
    box-shadow: none;
    /* background-color: unset; */
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
                url(./assets/theme/blockgame/dirt.png);
    background-size: 64px;
    background-position: top;
    image-rendering: pixelated;

    border-radius: 0;
    border: 4px solid black;
}
.theme_blockgame #main_carrot {
    filter: drop-shadow(24px 24px 0 rgba(0, 0, 0, 0.4));
}
.theme_blockgame #main_carrot:active {
    filter: drop-shadow(12px 12px 0 rgba(0, 0, 0, 0.4)); 
}
.theme_blockgame .characterbox,
.theme_blockgame .characterbox img,
.theme_blockgame .bottom,
.theme_blockgame .toast,
.theme_blockgame #Greg_Bar,
.theme_blockgame .achievement_item,
.theme_blockgame .achievement_img,
.theme_blockgame .footer_bottom,
.theme_blockgame .theme_item,
.theme_blockgame .shop_item {
    border-radius: 0;
}
.theme_blockgame .characterbox {
    background-color: #8b8b8b;
}
.theme_blockgame .bottom {
    background-color: #c6c6c6;
}
.theme_blockgame .toolicon {
    background-color: #8b8b8b;
    border-width: 3px;
    border-style: solid;

    border-top-color: #373737;
    border-left-color: #373737;
    border-right-color: white;
    border-bottom-color: white;
}

/* .theme_blockgame #Greg .lvlupimg {
    margin-right: -2px;
} */



/* Scrollbar */
.theme_blockgame::-webkit-scrollbar {
	width: 12px;
}
.theme_blockgame::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: black;
}
.theme_blockgame::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #c0c0c0;

    border-width: 2px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

/* Tri-pane */
.theme_blockgame #tripane nav .tab {
    color: rgb(163, 163, 163);
    padding-bottom: 20px;
}
.theme_blockgame #tripane nav .activetab {
    color: white;
    filter: none;
    outline-color: white;
}
.theme_blockgame #tripane {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
                url(./assets/theme/blockgame/stone.png);
    background-size: 64px;
    background-position: center;
    background-attachment: local;
    image-rendering: pixelated;
}
.theme_blockgame .achievement_item,
.theme_blockgame .footer_bottom {
    background: rgba(0, 0, 0, 0.3);
}
.theme_blockgame .theme_item {
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
}
.theme_blockgame .shop_item {
    background-color: #8b8b8b;
}

















/* Camo theme */
.theme_camo {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url('./assets/theme/camo/camo.png');
    background-size: 900px;
}
.theme_camo #left-section {
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(7px);
}
.theme_camo .characterbox {
    background-color: var(--brown-bg-color);
    border-color:  var(--brown-bg-color);
}
.theme_camo .bottom {
    background-color: var(--brown-darkest-color);   
}











/* Chat app theme */
.theme_chatapp * {
    font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
}
.theme_chatapp:not(.secondary_text) {
    color: #dcddde !important;
}
.theme_chatapp {
    background-color: #36393f;
}
/* .theme_chatapp .secondary_text {
    color: #72767d;
} */

/* Status bar */
.theme_chatapp .Basic_Info {
    background-color: #202225;
}
.theme_chatapp .Basic_Info,
.theme_chatapp #info_dropdown {
    border-color: none;
}
.theme_chatapp #info_dropdown:hover {
    background-color: #282b2e;
}
.theme_chatapp .hover_menu {
    background-color: #202225;
}

/* Overlays */
.theme_chatapp .popup_box {
    background-color: #36393f;
}

/* Left */
.theme_chatapp #left-section {
    /* background-color: #2f3136; */
    border-radius: 10px !important;
}

/* Right */
.theme_chatapp .characterbox {
    border-radius: 0;
    background-color: #36393f;
    border-color: transparent;
    box-shadow: none;
    transition: none;
}
.theme_chatapp .characterbox:hover {
    outline: none;
    background-color: #32353b;
}
.theme_chatapp .characterimg {
    border-radius: 5px;
}
.theme_chatapp .bottom,
.theme_chatapp .shop_item,
.theme_chatapp .achievement_item,
.theme_chatapp input[type="text"],
.theme_chatapp input[type="number"],
.theme_chatapp select,
.theme_chatapp #left-section,
.theme_chatapp .theme_item,
.theme_chatapp .footer_bottom {
    background-color: #2f3136;
    border: 1px solid #202225;
    box-shadow: none;
    border-radius: 5px;
    color: white;
}

/* Tripane */
.theme_chatapp .button_icon {
    visibility: hidden;
    position: absolute;
}
.theme_chatapp #tripane nav .tab::before {
    content: "#";
}
.theme_chatapp #tripane nav {
    background-color: #2f3136;
    border-radius: 0;
}
.theme_chatapp #tripane nav .tab {
    background-color: #2f3136;
    border-radius: 10px !important;
    border-color: transparent;
}
.theme_chatapp #tripane nav .tab:not(.activetab):hover {
    background-color: #34373c;
    color: white;
}
.theme_chatapp #tripane nav .tab.activetab {
    background-color: #393c43;
}
.theme_chatapp .panel {
    background-color: #36393f;
}














/* XP Theme */
/* .theme_xp {
    background: url("./assets/theme/xp/joy.jpeg");
} */












/* Hoe positioning fix */
.theme_blockgame .greg_margin_fix,
.theme_retro .greg_margin_fix {
    margin-left: 0;
}
.theme_terminal .greg_margin_fix {
    margin-left: -2px;
}